.container{
    margin-top: 5px;
}

.btn{
    border-radius: 0px !important;
}
.row{
    margin: 0 !important;
}
.navbar-default{
    background-color: #222222 !important;
}
.container .title{
    text-align: center;
    font-family: 'Passion One', cursive;
    font-size: 30px;
    color: #fff !important;
}

.navbar-nav a{
    font-size: 25px;
    color: #fff !important;
}

.navbar-nav a:hover{
    color: #ddd !important;
}

.card{
    background-color: #222222;
    padding: 0px !important;
    margin-left: 19px;
    margin-right: 19px;
    margin-top: 10px;
} 
.card img{
    width: 100%;
}

.action-section{
    display: flex;
}
.card h3{
    text-align: center;
    color: #fff;
    margin: 10px;
}
.action-section button{
    flex: 1;
}

.card .distance{
    font-size: 13px;
    display: block;
    margin-top: 5px;
}